@font-face {
    font-family: 'PriegoRegular';
    src: url('../../fonts/Priego-Regular.otf') format('truetype');
}
  
@font-face {
    font-family: 'PriegoBold';
    src: url('../../fonts/Priego-Bold.otf') format('truetype');
}
  
@font-face {
    font-family: 'PriegoSemibold';
    src: url('../../fonts/Priego-SemiBold.otf') format('truetype');
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.home-page h1 {
  font-family: PriegoBold;
  font-size: 570%;
  color: #fdff91;
}