@font-face {
    font-family: 'PriegoRegular';
    src: url('../../fonts/Priego-Regular.otf') format('truetype');
}
  
@font-face {
    font-family: 'PriegoBold';
    src: url('../../fonts/Priego-Bold.otf') format('truetype');
}
  
@font-face {
    font-family: 'PriegoSemibold';
    src: url('../../fonts/Priego-SemiBold.otf') format('truetype');
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.home-page h1 {
  font-family: PriegoBold;
  font-size: 570%;
  color: #fdff91;
}

.home-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 3vh;
  border-radius: 10px;
}

.home-page-button {
    background-color: #0015d0;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    cursor: pointer;
    border-radius: 4px;
    height: 5vh;
    width: 35vw;
    font-family: PriegoRegular;
}

.home-page-spotify-button {
  background-color: #1DB954;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 100%;
  cursor: pointer;
  border-radius: 4px;
  height: 5vh;
  width: 35vw;
  font-family: PriegoRegular;
  margin-bottom: 2vh;
}

.action-reaction-form {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  padding-top: 5vh;
  font-family: PriegoRegular;
}

.home-auth-login {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4vh;
  padding-top: 4vh;
}

@media (max-width: 768px) {
  .home-page h1 {
    font-size: 400%;
  }

  .home-page-button {
    width: 50vw;
  }

  .home-auth-login {
    flex-direction: column;
    gap: 2vh;
  }
}